ClusterName={{ slurm_cluster_name }}

ControlMachine={{ slurm_controller }}

{% if slurm_srun_portrange is defined %}SrunPortRange={{slurm_srun_portrange}}
{%endif%}
{% if slurm_maxjobcount is defined %}MaxJobCount={{slurm_maxjobcount}}
{%endif%}
{% if slurm_maxarraysize is defined %}MaxArraySize={{slurm_maxarraysize}}
{%endif%}
{% if slurm_prioritydecayhalflife is defined %}PriorityDecayHalfLife={{slurm_prioritydecayhalflife}}
{%endif%}
AuthType=auth/munge
{% if slurm_version is version('21.08', '<') %}
CacheGroups=0
{% endif %}
CryptoType=crypto/munge
MailProg=/usr/bin/mail
MpiDefault=none
PrivateData=accounts,reservations
ProctrackType={{ slurm_ProctrackType }}
PropagateResourceLimitsExcept=ALL
ReturnToService=2                                                               # un noeud quitte l'état DOWN dès qu'il a une configuration valide (default=1)
SlurmctldPidFile={{ slurm_slurmctldpidfile | default('/var/run/slurm-llnl/slurmctld.pid') }}
SlurmctldPort=6817
{% if slurm_slurmdpidfile is defined %}SlurmdPidFile={{ slurm_slurmdpidfile }}
{%endif%}
SlurmdPort=6818
SlurmdSpoolDir=/var/spool/slurm/slurmd
SlurmUser={{ slurm_user }}
SlurmdUser=root
StateSaveLocation=/var/spool/slurm/state
SwitchType=switch/none
TaskPlugin={{ slurm_task_plugin | default(slurm_taskplugin | default ('task/none')) }}
InactiveLimit=0
KillWait=30
{% if slurm_unkillablesteptimeout is defined %}UnkillableStepTimeout={{slurm_unkillablesteptimeout}}  # Kill job timeout (if exceeded, the compute node will be drained)
{%endif%}
MinJobAge=300                                                                   # temps de conservation des jobs en file après execution
SlurmctldTimeout=120
SlurmdTimeout=300
Waittime=0                                                                      # temps que srun attend avant de terminer les tâches secondaires après que la tâche principale se soit arrêtée
FastSchedule=1
SchedulerType=sched/backfill                                                    # le scheduler peut lancer des jobs de priorités moins élevées à condition
                                                                                # qu'ils ne diffèrent pas le lancements de jobs en attente mais de priorité
                                                                                # plus élevée (nécessite que les utilisateurs spécifient les limites de temps)
{% if slurm_version is version('21.08', '<') %}
SchedulerPort=7321
{% endif %}
SelectType=select/cons_res                                                      # les ressources sont considérées comme des consommables
SelectTypeParameters={{ slurm_select_type_parameters | default(slurm_selecttypeparameters | default ('CR_CPU_Memory')) }}

PriorityType=priority/multifactor
PriorityWeightAge = 6000000
PriorityWeightFairShare = 10000000
PriorityWeightJobSize = 5000000
PriorityWeightPartition = 10000000
PriorityWeightQOS = 0


AccountingStorageEnforce=limits
AccountingStorageHost={{ slurm_accounting }}
AccountingStoragePort=6819
AccountingStorageType=accounting_storage/slurmdbd
AccountingStorageUser=root
{% if slurm_version is version('21.08', '>=') %}
AccountingStoreFlags=job_comment
{% else %}
AccountingStoreJobComment=YES
{%endif%}
DebugFlags=NO_CONF_HASH
JobCompType=jobcomp/none                                                        # none car stockage des données dans slurmdbd
JobAcctGatherFrequency=30
JobAcctGatherType=jobacct_gather/linux
SlurmctldDebug=debug
SlurmctldLogFile={{ slurm_slurmctldlogfile |default('/var/log/slurm/slurmctld.log') }}
SlurmdDebug=debug
SlurmdLogFile={{ slurm_slurmdlogfile |default('/var/log/slurm/slurmd.log')}}
DefMemPerCPU=2000
FirstJobId={{ first_job_id }}
{% if preempt_mode is defined %}PreemptMode = {{ preempt_mode }}
{%endif%}
{% if preempt_type is defined %}PreemptType = {{ preempt_type }}
{%endif%}
{% block extra_parameters scoped %}
{% endblock %}

NodeName={{ slurm_controller }} State=UNKNOWN

{% for host in slurm_nodes_hosts %}
{% set node_name = hostvars[host]["slurm_nodeinfo_name"]|default(host, true) -%}
{% if "slurm_nodeinfo_mem" in hostvars[host] %}
{% set node_mem = hostvars[host]["slurm_nodeinfo_mem"] -%}
{% set node_cpu = hostvars[host]["slurm_nodeinfo_cpu"] -%}
{% set node_core = hostvars[host]["slurm_nodeinfo_core"] -%}
{% set node_threads = hostvars[host]["slurm_nodeinfo_threads"] -%}
{% set node_corespeccount = "CoreSpecCount=" ~ slurm_node_corespeccount if slurm_node_corespeccount >= 1 else None -%}
{% block node scoped %}
NodeName={{ node_name }} RealMemory={{ node_mem }} MemSpecLimit={{ slurm_node_memspeclimit }} {{ node_corespeccount }} Sockets={{ node_cpu }} CoresPerSocket={{ node_core * node_threads }} ThreadsPerCore=1 State=UNKNOWN
{% endblock %}
{% else%}
# WARNING: Node {{ host }} is listed but no data is found ! Check hostvars !
{% endif %}
{% endfor %}

{% for partition in slurm_partitions %}
{% block partition scoped %}
PartitionName={{partition.name}} Nodes={% if partition.nodes is defined %}{{partition.nodes}}{%else%}{{ groups[partition.nodes_group] | map('extract', hostvars, 'ansible_hostname')|join(',') }}{%endif%} Default={{partition.default}} MaxTime={{partition.max_time}} AllowAccounts={{partition.allow_accounts}} {% if partition.deny_qos is defined %}DenyQos={{ partition.deny_qos }} {% endif %}State={{partition.state}}
{% endblock %}
{% endfor %}
