#!/bin/bash

{#
 # slurm_facter_version must be bumped when this file is modified,
 # otherwise the local fact cache can't be updated correctly
 #}

echo "[meta]"
echo version={{ slurm_facter_version }}

echo "[slurm]"
cat {{slurm_config_dir}}/slurm.conf | grep -v "^NodeName" | grep -v "^PartitionName"

echo "[slurmd]"
echo slurmd_version=$(/usr/sbin/slurmd -V | awk '{print $2}')

echo "[slurmctld]"
echo slurmctld_version=$(/usr/sbin/slurmctld -V | awk '{print $2}')

echo "[slurmdbd]"
echo slurmdbd_version=$(/usr/sbin/slurmdbd -V | awk '{print $2}')
cat {{ slurm_config_dir }}/slurmdbd.conf

echo "[munge]"
if [ -e {{ munge_key_file }} ]
then
  echo -n "key="
  base64 -w 0 {{ munge_key_file }}
fi
